<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Hello</title>
</head>
<body>
<p>u1</p>
<h1><p>名字:{{.u1.Name}}</p></h1>
<p>年龄:{{.u1.Age}}</p>
<p>{{.u1.Gender}}</p>


<hr>{{/* 换行符*/}}
</body>
</html>